.content__main-copy {
  margin: 60px 0 90px 0;
}

.water__main-copy {
  width: 800px;
  height: 390px;
  margin: 0 auto;
  padding : 30px 30px;
  background-image: url("../images/water-img.png");
  background-size: cover;
}

.hatake__main-copy {
  width: 800px;
  height: 390px;
  margin: 0 auto;
  padding : 30px 30px;
  background-image: url("../images/hatake-img.png");
  background-size: cover;
}

.main-copy__inner {
  padding: 30px 20px 30px 30px;
  background-color: #EEEEEE;
  writing-mode: vertical-rl;
  width: min-content;
  font-size: 1.8rem;
  letter-spacing: 0.25rem;
  border-right: 10px solid #8C2D29;
}

.inner-right {
  margin: 0 0 0 auto;
}

.main-copy__inner--title {
  color: #8C2D29;
  margin-left: 10px;
  font-size: 3rem;
}

.content__commitment {
  width: 800px;
  display: flex;
  margin: 0 auto;
  padding: 38px 50px 60px 30px;
  margin-bottom: 100px;
}

.content__commitment img{
  height: 160px;
}

.content__commitment-text {
  margin: 30px 30px 0 30px;
  height: 280px;
  writing-mode: vertical-rl;
  font-size: 1.7rem;
  line-height: 3.6rem;
}

.content__commitment .content__title {
  padding: 0 0;
  margin: 0 0;
}

.content__commitment--img {
  margin-top: 60px;
  
}

.img-caption {
  padding: 7px;
  font-size: 0.7rem;
}