.content__menu {

}

.content__menu_soba {
  width: 800px;
  height: 500px;
  margin: 100px auto;
  background-color: rgb(206, 210, 214);
}

.content__menu_drink {
  width: 800px;
  height: 500px;
  margin: 100px auto;
  background-color: rgb(206, 210, 214);
}

