 .header_white  {
  background-color: #ffffff;
  color: #000000;
}

.content {

}

.content__title {
  margin: 0 auto;
  color: #3C3C3C;
  font-size: 3rem;
  writing-mode: vertical-rl;
  letter-spacing: 0.2rem;
}
.content__title-first {
  padding: 170px 0 100px 0;
}

.content__title:first-letter {
  color: #8A231C;
}

.content__background--paper {
  background-image: url("../../images/paper-texture.png");
  background-size: cover;
}