 .header_white  {
  background-color: #ffffff;
  color: #000000;
}

.content {

}

.content__title {
  width: 100%;
  padding: 100px 0 70px 0;
  align-items: center;
}
.content__title-first {
  padding: 170px 0 70px 0;
}

.content__title p {
  color: #3C3C3C;
  font-size: 3rem;
  writing-mode: vertical-rl;
  margin: 0 auto;
}

.content__title p:first-letter {
  color: #A7000D;
}

.content__background--paper {
  background-image: url("../../images/paper-texture.png");
  background-size: cover;
}